
    /* 挑選指南-活動穿搭 --潛水穿搭 */
    .recommend-main{
        margin-top: 70px;
    }
    .recommend-main .container{
        margin: auto;
        background-color: aquamarine;
    }
    .recommend-main .row{
        /* margin: 0px 5%; */
        width: 100%;
        /* background-color: #e1a766 */
        background-color: palevioletred;
        margin: auto;
    }

    .recommend-main .row button{
        width: 100% ;
        height: 200px;
        border: none;
        position: relative;
        background-color: transparent;
        cursor: pointer;
    }

    .recommend-main .row button img{
        aspect-ratio: 4 / 3;
        max-width: 300px;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
    .recommend-main .row button h4{
        position: absolute;
        z-index: 2;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        color: #f1f1f1;
        text-align: center;
        width: fit-content;
        height: fit-content;
        margin: auto;
        text-shadow: 5px 2px 3px #1f1f1f;

    }
    /* ====================泳衣穿搭內容== */
    .recommend-details a{
        display: block;
        background-color: transparent;
        text-decoration: none; 
        width: 100%;
        height: 100%;

    }
    .recommend-details .sample{
        cursor: pointer;
        background-image: url(./pic/guide/guide-share1.png);
        background-size: cover;
        width: 300px;
        height: 400px;
        margin: 0 auto;

    } 


    /* ============身形挑選= */
    .select-main .container{
        margin: auto;
        /* background-color: aquamarine; */
    }
    .select-main .row{
        /* margin: 0px 5%; */
        width: 100%;
        /* background-color: #e1a766 */
        /* background-color: palevioletred; */
        margin: auto;
    }


    .select-main .row button{
        width: 100% ;
        height: 150px;
        border: none;
        position: relative;
        background-color: transparent;
        cursor: pointer;
    }
    .select-main .row button img{

        max-width: 300px;
        aspect-ratio: 3 / 4;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }

    .select-main .row button h4{
        position: absolute;
        z-index: 2;
        top: 90%;
        bottom: 0;
        right: 0;
        left: 0;
        color: #1f1f1f;
        /* text-align: ; */
        width: fit-content;
        height: fit-content;
        margin: auto;
        text-shadow: 5px 2px 3px #f1f1f1;
    }

/* ===== */
    
    @media screen and (min-width: 768px) {
        .recommend-main .row button img{
            width: 100%;
        }
        .select-main .row button{

            /* aspect-ratio: 3/4; */
            height: 200px;
        }
    }

    @media screen and (min-width: 1024px) {
        .recommend-main .row button img{
            width: 100%;
        }
    }

    @media screen and (min-width: 1200px) {
        .recommend-main .row{
            margin: 0px auto  ;
        }
    }

    /* ================= */
    #sliderBoard{ /* div */
        width: 300px;
        overflow: hidden;
        /* border: 5px dashed #ccc; */
        margin: 0px auto;
    }
    
    #sliderBoard ul{ /* ul */
        width: 1500px;
        /* 需要包含所有LI的寬度*/
        position: relative;
        animation: slider 5s 3;
        /* infinite 重複 */
    }
    
    #sliderBoard li{ /* li */
        width: 300px;
        height: 400px;
    
        /* display: inline-block; */
    
        float: left;
        font: bold 200px Tahoma;
        text-align: center;
        line-height: 400px;
    }
    #sliderBoard li:nth-child(1){ 
        background: red;
    }
    #sliderBoard li:nth-child(2){ 
        background: orange;
    }
    #sliderBoard li:nth-child(3){ 
        background: yellow;
    }
    #sliderBoard li:nth-child(4){ 
        background: green;
    }
    #sliderBoard li:nth-child(5){ 
        background: blue;
    }
    @keyframes slider {
        0%{left :        -0px}
        20%{left :     -300px}
        50%{left :     -600px}
        70%{left :     -900px}
        90%{left :    -1200px}
    
    }
.lorem{
    background-color: peru;
}



/* ===================== */
/* -----------蘋果身型----------- */
a img{
    object-fit: cover;
    object-position: center center;
}
.select-details a{
    text-decoration: none;
    cursor: pointer;
}

.select-details div{
    /* transform: rotate(180deg);相反 */ 
}

.select-details h5{
    position: absolute;
    padding: 20px;
    background-color: rgb(255, 255, 255, .7);
    border-radius: 5px;
    margin: 15px;
}




    .select-details_h4{
        margin: 30px auto 15px;
    }

    .select-details{
        margin: 0 auto;
        width: 95%;
        display: flex;
        flex-wrap: wrap;
    }

    .select-details a{
        display: block;
        width: 100%;
    }
    
    .select-details img{
        height: 150px;
        /* height: 50vw; */
        width: 100%;
        object-fit:cover;
    }

    .select-details > div{
        display: none;
    }

    .select-details h5{
        padding: 10px;
        border-radius: 3px;
        margin: 15% 35% auto 35%;
    }


@media screen and (min-width: 768px) {


    /* --動畫&hover-- */
    .select-details a{
        transition: all 1s;
    }

    .select-details img{
        transition: all 1s;
    }

    .select-details a:nth-child(n):hover{
        transform: scale(1.1);
        z-index: 1;
        border-radius: 5px;
    }

    .select-details a:nth-child(n) img:hover{
        border-radius: 3px;
    }

    /* --- */

    .select-details > div{
        display: block;
    }



    .select-details_h4{
        margin-top: 120px;
    }
    .select-details div{

        grid-column: 1 / 4;
        grid-row:  1 / 2;
        aspect-ratio: 4/1;
        
    }
    .select-details a:nth-child(1){
        grid-column: 3 / 4;
        grid-row: 2 / 3;

    }


    
}

@media screen and (min-width: 1024px) {
    .select-details{
        
        position: relative;
        margin: 60px auto 30px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        background-color: palevioletred;
    }

    .select-details a:nth-child(1){
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }
    
    .select-details a:nth-child(2){
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    
    .select-details a:nth-child(3){
        grid-column: 3 / 5;
        grid-row: 1 / 2;
    }
    
    .select-details a:nth-child(4){
        grid-column: 2 / 4;
        grid-row: 2 / 3;
    }
    .select-details div{
        grid-column: 2 / 3;
        grid-row:  1 / 2;
    }
    .select-details img{
        height: 50%;
        width: 50%;
    }
    
}

/* -----------作品集----------- */