h2{
  color: brown ;
  margin-bottom: 30px;
  margin-top: 90px;
  text-align: center;
}



/* home-benner共用↓ */
.home-benner .pic img{
  vertical-align: top;
  width: 100%;
  
}
.home-benner{
  position: relative;
  z-index: 0;
  margin-top: 70px ;
}
.home-benner .pic{
  width: 100%;
  position: relative;
  height: 100%;

}

.home-benner .pic p{
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-decoration: none;
  color: aliceblue;
  font-size: 5vmin;
  width: fit-content;
  height: fit-content;
  margin: auto;
}

/* benner共用↑ */


/* -----輪播圖---- */  
    html, body {
      position: relative;
      height: 100%;
    }


    .swiper {
      width: 70%;
      height: 70%;
      margin-bottom: 35px;
    }
    .swiper-slide {
      text-align: center;

      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      position: relative;
    }
    .swiper-slide p{
      position: absolute;
      width: 100%;
      height: 30px;
      background-color: #f1f1f1;
      color: #642424;
      bottom: 0;
      text-align: center;
      opacity: 0.8;
      font-weight: 400;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }


    .selling .more-commodity{
      width: fit-content;
      font-weight: 400;
      background-color: #4E4E4E;
      color: #f1f1f1;
      padding: 5px 10px;
      border-radius: 10px;
    }
    .selling a{
      margin-top: 20px;
      text-decoration: none;
      display: flex;
      justify-content: end;
      padding: 10px 20px;
    }
    .swiper-pagination{
      margin: 10px;
    }
    .selling a div{
      padding: 10px 20px;
    }

/* -----輪播圖---↑- */ 




/* 穿搭指南 /活動穿搭/ */

.recommend-outline{
  background-color: #eec6ba;

}
.recommend-index{
  padding-bottom: 30px;
}
.recommend-index>p{
  color: #642424;
  font-weight: 400;
  text-align: center;
  font-size: 4vmin;
  padding: 10px;

}
.recommend-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 60vh;

}

.item{     /* .recommend-wrap a */
  display: block;
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
  position: relative;
  
}

.item:hover{
  flex: 7;
  /* filter: grayscale(1);   */
}
.recommend-wrap a p{
  position: absolute;
  text-align: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-decoration: none;
  color: #f1f1f1;
  font-size: 3vmin;
  width: fit-content;
  height: fit-content;
  margin: auto;
  text-shadow: 5px 2px 3px #1f1f1f;
  z-index: 3;
}
.item-1 { 
  background-image: url('./pic/guide/recommend.jpg');
}

.item-2 { 
  background-image: url('./pic/guide/swimming pool.avif');
}

.item-3 { 
  background-image: url('./pic/guide/4.jpg');
}

.item-4 { 
  background-image: url('./pic/guide/surf2.jpg');
}




/* --------------挑選指南-活動穿搭----潛水穿搭-----↑--- */

/* ---------------------連身熱賣款↓----------------- */

.home-onepeice h2{
  align-self: center;

}
.home-onepeice{
  margin-top: 30px;

}

.home-onepeice img{
  width: 100%;
  height: auto;
  vertical-align: middle;
  box-shadow: 10px 10px 30px rgb(56, 50, 50) inset;
}
.banner-onepice1{
  display: none;
}
.banner-onepice2{
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;

}
.banner-onepice2 .text{
  position: absolute;
  width: fit-content;
  height: fit-content;
  color: #fff;
	top: 6%;
	left: 35%;
	font-size: 2vmin;
	transform: translateX(-20%);

}
@media screen and (min-width: 411px) {
  .banner-onepice2{
    display: none;
  }

  .banner-onepice1{
    display: block;
    box-shadow: 10px 10px 30px rgb(56, 50, 50) inset;
    width: 100%;
    height: auto;
    position: relative;
  }
}
.banner-onepice1 .text{
  position: absolute;
	text-align: center;
	top: 4%;
	left: 10%;
	color: #fff;
	font-size: 3vmin;
	transform: translateX(-20%);
  width: fit-content;
  height: fit-content;
}



/* ---影片 */
.onepice-main{
  margin: 40px auto;
}
.onepice-main .text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1f1f1f;
  color: #f1f1f1;
  line-height: 1.5;
  padding: 20px;
}
.onepice-main .text p{
  line-height: 1.6;
}
.onepice-main .text>p:first-child{
  font-size: 4vmin;
  color: #eec6ba;
  margin: 25px auto;
}
.onepice-main .text div{
  margin-left: 30%;
  line-height: 1.4;
}
.video{
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  vertical-align: middle;
}
.video iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0 none;
}



/* ---------------------連身熱賣款↑------------------- */

/* ----------------挑選指南-大胸女孩友善款----- */

.home-guide-XLrecommend{
  width: 100%;
  background: linear-gradient(241.96deg, rgba(217, 158, 86, 0.44) 27.41%, rgba(198, 159, 106, 0.07) 62.45%);
  /* border-radius: 50% 20% / 10% 40%; */
  padding-bottom: 70px;
}

.home-guide-XLrecommend h2{
  padding: 20px 0px;
}
.parrot{
  margin: auto;
  width: 1200px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.parrot .img{
  width: 400px;
  height: 600px;
  position: relative;
}
.parrot .img div{
  position: absolute;
  width: 100%;
  height: 30px;
  background-color: #f1f1f1;
  color: #642424;
  font-size: 20px;
  bottom: 0;
  text-align: center;
  opacity: 0.8;
  font-weight: 400;
  border-radius: 0px 0px 10px 10px;
}
.parrot .img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center ;
  border-radius: 10px;
}
.parrot-content{
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 1.5;
  
}

.parrot-content .list{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 25px;
}


.parrot-content .list p{
  margin-left: 30px;
  font-size: 18px;
  line-height: 1.7;
  text-align: left;
  
}
.parrot-content .img{
 height: 350px;
 width: 250px;
 border-radius: 10px;
 position: relative;

}
.parrot-content .img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  position: absolute;


}
.parrot-introduction{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 28px ;
}
.parrot-introduction .list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.parrot-content .parrot-introduction .size{
  line-height: 1.4;
  color: #642424;
}
.parrot-content .parrot-introduction .buynow{
  background-color:sandybrown ;
  font-size: 20px;
  width: fit-content;
  padding: 10px 30px 10px 30px;
  color: #f1f1f1;
  border-radius: 10px;
}
.parrot-content .parrot-introduction div a{
  text-decoration: none;

}
.parrot-content .parrot-introduction .buynowicon{
  display: flex;
  justify-content: end;
}
.parrot-ootd {
  display: flex;
  gap: 5px;
}
.parrot-ootd .img{
  width: 200px;
  height: 300px;
  border-radius: 10px;
}
.parrot-ootd .img div{
  position: absolute;
  width: 100%;
  height: 20px;
  background-color: #f1f1f1;
  color: #642424;
  font-size: 12px;
  bottom: 0;
  text-align: center;
  opacity: 0.8;
  font-weight: 400;
}
.parrot-ootd .img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}



