.product-page-main{
    margin-top: 70px;

}

.product-page-main img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.main-img{
    align-items: center;
}
.small-img-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    gap: 5px;
}

.price{
    margin: 10px 0px ;
    color: coral;
}

.star-icon-box i{
    color: #ffc500;
}
.size-wrap{
    display: flex;
    justify-content: flex-start;
    margin: 5px 10px;
    gap: 10px;
}
.size-wrap li{
    border: 1px solid #1f1f1f;
    font-size: 2vmin;  
    padding: 10px;
    width: calc(25%-5px);
    min-width: 50px;
    max-width: 30px;
    cursor: pointer;
    text-align: center;
}
.product-page-main h3{
    font-size: 3vmin;
    text-align: start;
}

.qu-button-group{
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-around;
    
    

}
.product-page-main .share{
    display: flex;

}
.product-page-main .share a{
    background-color: #ffc500;
    text-decoration: none;
}

.qu-button-group .qu-button{
    background-color: coral;
    cursor: pointer;
    font-size: 2vmin;
    padding: 5px 10px;
    border-radius: 5px;
    width: calc(15%-5px);
    min-width: 50px;
    text-align: center;

}

.buy-group{
    display: flex;
    justify-content: space-around;
    

}
.buy-group a{
    display: inline-block;
    width: calc(50%-15px);
    min-width: 150px;
    background-color: cadetblue;
    padding: 12px 10px;
    text-align: center;
    text-decoration: none;
}
@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1200px) {

}