.product-banner-img{
    margin-top: 70px;
    width: 100%;
    height: 350px;
    overflow: hidden;
}
.product-banner-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top ;
    vertical-align: middle;
}

/* -------------------------------------- */

  .wrapper-grid-main{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr;
    gap: 25px;
    max-width: 1200px;
    justify-content: center;
    margin: 0 10%;
  }
  .wrapper-grid-main.-open{
    grid-template-columns: 1fr 1.2fr;
  }

  .wrapper-grid-main .category a{
    display: block;
    text-align: left;
    line-height: 1.4;
    
  }
  
  .wrapper-grid-main h3{
    text-align: left;
    margin: 30px 0px;
  }
  .filter{
    display: none;
  }
  .filter.-open{
    display: block;
  }
  .filter-body .filter-item{
    padding: 5px 0px;
  }
  .filter_body.item-grid{
    display: grid;
    grid-template-columns: repeat( 2 , 1fr);
    gap: 10px;
    justify-content: start;
    cursor: pointer;
    
  }
  .item-grid span{
    width: 50px;
    display: inline-block;
    border: 2px #9C9C9C solid;
    color: #9C9C9C;
    padding: 10px;
   text-align: center;
  }
  
  .item-grid span:hover{
    background-color: #1f1f1f;
    color: #fff;
    font-weight: 300;
  }
  .wrapper-grid-main .content{
    /* overflow: hidden; */
    width: 100%;


  }
  .wrapper-grid-main .content {
    display: flex;
    flex-direction: column;
  }
  .buttons{
    display: flex;
    justify-content: space-between;
  }
  .btn-select button{
    width: 40px;
    height: 30px;
    border: none;
    background-color: transparent;
  }
  .btn-select button img{
    width: 100%;
    height: 100%;
  }

  .track-container{
    width: 200px;
  }
  .track-container p{
    display: flex;
    justify-content: space-between;
    /* padding: 10px 0px; */
  }
  
  
  /* ----- */
  .custom-select{
    text-align: right;
    margin-bottom: 20px;
  }
  .product-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 15px;
  
  }
  .product-cards.-open {
    grid-template-columns: 1fr ;
  }
  
  .wrapper-grid-main-items .productimg img{
    width: 100%;
  }
  
  .card figure div{
    width: 100%;
    height: 100%;

  }
  .productimg img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: top center;
    border-radius: 10px 10px 0px 0px;
  }
  .card{
    overflow: hidden;
    position: relative;
    padding: 5px;
    background-color: #dabeb8;
    border-radius: 10px;
  }
  .card a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    background-color: #F3E7E7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;

  }

  
  .card .color{
    color: #888888;
    font-size: 16px;
  }
  .card p{
    color: #4e4e4e;
    padding: 5px;
    list-style: 1.2;
  }
  .wrapper-grid-main-items .card .price{
    color: #F4A45E;
  }
  
  .loadmore{
    font-size: 20px;
    display: flex;
    justify-content: end;
    margin: 30px 0px 20px 0px;
  }
  .loadmore span{
    width: fit-content;
    background-color: #4e4e4e;
    padding: 5px 20px;
    color: #f1f1f1;
    border-radius: 10px;
  }
  .loadmore a{
    text-decoration: none;
  }
  
  
  @media screen and (min-width: 768px) {
    .product-cards{
      grid-template-columns: 1fr 1fr;
    }
    .filter{
      display: block;
    }
    .wrapper-grid-main{
      grid-template-columns: 1fr 3fr;
    }



  

  }
  @media screen and (min-width: 1024px) {
    .product-cards{
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 15px;
    
    }
  }
  @media screen and (min-width: 1200px) {
    .product-cards{
      grid-template-columns: 1fr 1fr 1fr;
    }
    .wrapper-grid-main{
      margin: 0 auto;
    }
  }

